@{
    ViewData["Title"] = "Home Page";
}
@using Services.SecuritySettings;

<div class="text-center">
    <h1 class="display-4">Полигон</h1>
    <p style="text-indent: 30px; margin-top: 5px">Данная страница предназначена для практической оценки влияния различных механизмов защиты на поведение веб-приложения.</p>
    <p style="text-indent: 30px; margin-top: 5px">Перед переходом сюда настройте параметры защиты в "Панели администрировани", после чего может перейти на полигон для анализа изменений в работе системы.</p>

    <p style="text-indent: 30px; margin-top: 5px">Цель полигона — продемонстрировать, как отключение или активация определённых механизмов защиты отражается на устойчивости и корректности функционирования веб-приложения.</p>


    <div class="container">
        <div class="row">
            <!-- Блок с таблицей -->
            <div class="col-md-6">
                <!-- Таблица займет половину ширины контейнера -->
                <h2>Все данные</h2>
                <table class="table-custom">
                    <thead>
                        <tr>
                            <th>Данные</th>
                            <th>Описание данных</th>
                            <th>Дата обновления</th>
                            <th>Дата создания</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var secret in Model)
                        {
                            <tr>
                                @if (SecurityProvider.GetRule("UseHtmlEscaping"))
                                {
                                    <td>@secret.Data</td>
                                    <td>@secret.Description</td>
                                }
                                else
                                {
                                    <td>@Html.Raw(secret.Data)</td>
                                    <td>@Html.Raw(@secret.Description)</td>
                                }
                                <td>@secret.UpdateDate?.ToString("yyyy-MM-dd")</td>
                                <td>@secret.CreationDate?.ToString("yyyy-MM-dd")</td>

                                <form asp-action="DeleteSecret" method="post">
                                    <input type="hidden" name="DataId" value="@secret.Id" />
                                    <td>
                                        <button type="submit" class="btn btn-sm custom-btn">
                                            <img src="~/icons/DeleteIcon.png" alt="Delete" width="30" height="30">
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div>
                    <h2>Добавить секретные данные</h2>
                    <form asp-action="AddSecret" method="post">
                        <div class="mb-1">
                            <label for="data" class="float-start">Данные:</label>
                            <textarea id="data" name="Data" class="form-control" required></textarea>
                        </div>
                        <div class="mb-1">
                            <label for="description" class="float-start">Описание:</label>
                            <textarea id="description" name="Description" class="form-control" required></textarea>
                        </div>
                        <div class="mb-1">
                            <input type="submit" value="Добавить" class="btn btn-primary btn-sm float-start" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
